#particles-js{
    background: linear-gradient( rgb(54, 56, 65) ,
    rgba(3, 3, 29, 1) );
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
 
}